# Ignore all LaTeX auxiliary files
# These are just the TeXstudio defaults
*.log
*.aux
*.dvi
*.lof
*.lot
*.bit
*.idx
*.glo
*.bbl
*.bcf
*.ilg
*.toc
*.ind
*.out
*.blg
*.fdb_latexmk
*.fls
*.run.xml
*.synctex.gz

# We want to ignore the PDF itself to allow me to keep a local build
*.pdf

# We also want to ignore the fonts directory, because that gets handled by the compilation workflow
.fonts/

# Ignore the TeXstudio session file
*.txss
