# All the auxiliary files generated in compilation
# These were taken from TeXstudio's default auxiliary file extensions list
*.log
*.aux
*.dvi
*.lof
*.lot
*.bit
*.idx
*.glo
*.bbl
*.bcf
*.ilg
*.toc
*.ind
*.out
*.blg
*.fdb_latexmk
*.fls
*.run.xml
*.synctex.gz
